.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.auth-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
}

.input-group mat-form-field {
    width: 100%;
    display: block;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  flex-basis: 48%;
}

button:first-child {
  background-color: #007bff;
  color: white;
}

button:last-child {
  background-color: #28a745;
  color: white;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 0.85em;
  margin-top: 5px;
}

.server-error {
  color: red;
  text-align: center;
  margin-top: 15px;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 15px;
}
