.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card {
  max-width: 90%;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.input-group mat-form-field {
    width: 100%;
    display: block;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.error-message {
  color: #ff5757;
  font-size: 0.8em;
  margin-top: 5px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

@media (min-width: 866px) and (max-width: 1224px) {
  .auth-container {
    padding: 40px;
  }
  .auth-card {
    max-width: 500px;
    padding: 30px;
  }
  .button-group {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1225px) {
  .auth-container {
    padding: 60px;
  }
  .auth-card {
    max-width: 400px;
    padding: 30px;
  }
  .button-group {
    flex-direction: row;
    justify-content: space-between;
  }
}
