<form [formGroup]="userDataForm" (ngSubmit)="onSubmit()" class="vertical-form">

  <mat-form-field appearance="fill">
    <mat-label>Параметр X:</mat-label>
    <input matInput type="number" formControlName="x">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Параметр Y:</mat-label>
    <input matInput type="number" formControlName="y">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Параметр R:</mat-label>
    <input matInput type="number" formControlName="r">
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" [disabled]="!userDataForm.valid">Отправить</button>
  <button mat-raised-button color="accent" type="button" (click)="onClear()">Очистить</button>
</form>
