.main-content-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 16px;
    margin-bottom: 24px;
}

.spacer {
  flex: 1 1 auto;
}


.left-content-wrapper {
    flex-grow: 1;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: left;
}

.vertical-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
}

.table-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

mat-table {
    width: 100%;
}

.mat-column-x,
.mat-column-y,
.mat-column-r,
.mat-column-result,
.mat-column-start,
.mat-column-workTime {
    flex: 1;
    min-width: 80px;
}


.mat-column-start,
.mat-column-workTime {
    flex: 0 0 140px;
    justify-content: flex-end;
    text-align: right;
}

.mat-column-x,
.mat-column-y,
.mat-column-r,
.mat-column-result,
.mat-column-start,
.mat-column-workTime {
    padding-right: 8px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-content-wrapper {
    width: 400px;
    height: 400px;
    margin-left: 24px;
    flex-shrink: 0;
}

.app-header {
    background-color: #3f51b5;
    color: white;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.app-header h1 {
    margin: 0;
    font-size: 24px;
}

@media (max-width: 1024px) {
    .main-content-layout {
        flex-direction: column;
        align-items: center;
    }

    .left-content-wrapper,
    .right-content-wrapper {
        max-width: 90%;
        width: 100%;
        margin-left: 0;
        margin-bottom: 24px;
    }
}
