<section>
  <h2>Форма ввода данных</h2>

  <form [formGroup]="userDataForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="x">Параметр X:</label>
      <input id="x" type="number" formControlName="x">
    </div>

    <div>
      <label for="y">Параметр Y:</label>
      <input id="y" type="number" formControlName="y">
    </div>

    <div>
      <label for="r">Параметр R:</label>
      <input id="r" type="number" formControlName="r">
    </div>

    <button type="submit" [disabled]="!userDataForm.valid">Отправить</button>
  </form>
</section>
<section>
  <table>
    <thead>
    <tr>
      <th>X</th>
      <th>Y</th>
      <th>R</th>
      <th>Попадание</th>
      <th>Время начала</th>
      <th>Время работы</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let attempt of attempts">
      <td>{{ attempt.point.x }}</td>
      <td>{{ attempt.point.y }}</td>
      <td>{{ attempt.point.r }}</td>
      <td>
        {{ attempt.result ? "Да" : "Нет" }}
      </td>
      <td>{{ attempt.start }}</td>
      <td>{{ attempt.workTime}}</td>
    </tr>
    </tbody>
  </table>
</section>

<p>abstract svg</p> <!--TODO: interactive svg -->
