<h2 class="mat-h2">Форма ввода данных</h2>

<div class="main-content-layout">

  <div class="left-content-wrapper">

    <section class="form-section">
      <app-form
        [initialR]="rValue"
        (submitData)="handleSubmit($event)"
        (clearData)="handleClear()"
        (rValueChange)="handleRChange($event)"
      ></app-form>
    </section>

    <section class="table-section">
      <mat-table [dataSource]="attempts">

        <ng-container matColumnDef="x">
          <mat-header-cell *matHeaderCellDef> X </mat-header-cell>
          <mat-cell *matCellDef="let attempt"> {{ attempt.point.x }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="y">
          <mat-header-cell *matHeaderCellDef> Y </mat-header-cell>
          <mat-cell *matCellDef="let attempt"> {{ attempt.point.y }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="r">
          <mat-header-cell *matHeaderCellDef> R </mat-header-cell>
          <mat-cell *matCellDef="let attempt"> {{ attempt.point.r }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="result">
          <mat-header-cell *matHeaderCellDef> Попадание </mat-header-cell>
          <mat-cell *matCellDef="let attempt"> {{ attempt.result ? "Да" : "Нет" }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="start">
          <mat-header-cell *matHeaderCellDef> Время начала </mat-header-cell>
          <mat-cell *matCellDef="let attempt"> {{ attempt.start }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="workTime">
          <mat-header-cell *matHeaderCellDef> Время работы </mat-header-cell>
          <mat-cell *matCellDef="let attempt"> {{ attempt.workTime }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator
        [length]="totalAttempts"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10]"
        (page)="handlePageEvent($event)"
        showFirstLastButtons>
      </mat-paginator>

    </section>
  </div>

  <section class="graph-section">
    <app-graph
      [R]="rValue"
      [attempts]="attempts"
      (graphClick)="handleGraphClick($event)"
    ></app-graph>
  </section>
</div>
