@use '@angular/material' as mat;

@include mat.core();

$my-app-theme: mat.define-theme((
  color: (
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  density: (
    scale: 0
  ),
));

html {
  @include mat.all-component-themes($my-app-theme);
}

@include mat.typography-hierarchy($my-app-theme);

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}
