<svg id="graph" xmlns="http://www.w3.org/2000/svg" #graph
     width="500"
     height="500"
     [attr.viewBox]="viewBox"
     (click)="handleGraphClick($event)"
     style="margin-right: 5px; cursor: crosshair;">

  <line class="axis" x1="0" y1="250" x2="500" y2="250" stroke="black"/>
  <line class="axis" x1="250" y1="0" x2="250" y2="500" stroke="black"/>

  <polygon class="axis" points="500,250 495,255 495, 245" fill="black" />
  <polygon class="axis" points="250,0 245,5 255,5" fill="black" />

  <path [attr.d]="areaPath" fill="blue" opacity="0.5"/>

  <circle *ngFor="let point of points"
          [attr.cx]="toSvgX(point.x)"
          [attr.cy]="toSvgY(point.y)"
          r="4"
          [attr.fill]="point.result ? 'green' : 'red'">
  </circle>

  <g>
    <line class="axis" x1="290" y1="248" x2="290" y2="252" stroke="black"/><text x="290" y="240">1</text>
    <line class="axis" x1="330" y1="248" x2="330" y2="252" stroke="black"/><text x="330" y="240">2</text>
    <line class="axis" x1="370" y1="248" x2="370" y2="252" stroke="black"/><text x="370" y="240">3</text>
    <line class="axis" x1="410" y1="248" x2="410" y2="252" stroke="black"/><text x="410" y="240">4</text>
    <line class="axis" x1="450" y1="248" x2="450" y2="252" stroke="black"/><text x="445" y="240">5</text>
    <line class="axis" x1="210" y1="248" x2="210" y2="252" stroke="black"/><text x="205" y="240">-1</text>
    <line class="axis" x1="170" y1="248" x2="170" y2="252" stroke="black"/><text x="165" y="240">-2</text>
    <line class="axis" x1="130" y1="248" x2="130" y2="252" stroke="black"/><text x="125" y="240">-3</text>
    <line class="axis" x1="90" y1="248" x2="90" y2="252" stroke="black"/><text x="85" y="240">-4</text>
    <line class="axis" x1="50" y1="248" x2="50" y2="252" stroke="black"/><text x="40" y="240">-5</text>

    <line class="axis" x1="248" y1="210" x2="252" y2="210" stroke="black"/><text x="256" y="215">1</text>
    <line class="axis" x1="248" y1="170" x2="252" y2="170" stroke="black"/><text x="256" y="175">2</text>
    <line class="axis" x1="248" y1="130" x2="252" y2="130" stroke="black"/><text x="256" y="135">3</text>
    <line class="axis" x1="248" y1="90" x2="252" y2="90" stroke="black"/><text x="256" y="95">4</text>
    <line class="axis" x1="248" y1="50" x2="252" y2="50" stroke="black"/><text x="256" y="55">5</text>
    <line class="axis" x1="248" y1="290" x2="252" y2="290" stroke="black"/><text x="256" y="295">-1</text>
    <line class="axis" x1="248" y1="330" x2="252" y2="330" stroke="black"/><text x="256" y="335">-2</text>
    <line class="axis" x1="248" y1="370" x2="252" y2="370" stroke="black"/><text x="256" y="375">-3</text>
    <line class="axis" x1="248" y1="410" x2="252" y2="410" stroke="black"/><text x="256" y="415">-4</text>
    <line class="axis" x1="248" y1="450" x2="252" y2="450" stroke="black"/><text x="256" y="455">-5</text>
  </g>
</svg>
